extends layout/base   

block content
    tbody
        tr
            td(align='left' style='font-size:0px;padding:10px 25px;word-break:break-word;')
                div(style='font-size:18px;font-weight:400;line-height:24px;text-align:left;color:#000000;')

                    h1(style='margin: 0; font-size: 32px; line-height: 40px;')
                        | Hi, #{name}! 
                        br
        tr
            td(align='left' style='font-size:0px;padding:10px 25px;word-break:break-word;')
                div(style='font-size:18px;font-weight:400;line-height:24px;text-align:left;color:#000000;')
                    |We have reset your password to a new one. You can change it in your user profile. 
                    p
                        tr
            td(align='left' style='font-size:0px;padding:10px 25px;word-break:break-word;')
                div(style='font-size:24px;font-weight:400;line-height:24px;text-align:center;color:#000000;')
                    |New password:
                    p
        tr
            td(align='left' style='font-size:0px;padding:10px 25px;word-break:break-word;')
                div(style='font-size:34px;font-weight:600;line-height:24px;text-align:center;color:#000000;')
                    | #{key}
                    p
        tr
            td(align='left' style='font-size:0px;padding:10px 25px;word-break:break-word;')
                div(style='font-size:14px;font-weight:400;line-height:24px;text-align:left;color:#333333;')
                    | If you did not make this request, please ignore this email. 
                    p