doctype html
head
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(http-equiv='refresh' content=`0;URL=${url}`)
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Redirect to... IT FOOD
h1 Re-directing...
p
  | You are being re-directed, if nothing happens, please 
  a(href=`${url}`)
    | follow
    | this link
